@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理层首页</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>             @*vue*@
    <script src="~/js/axios.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>   @*layui模态框*@
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/js/zpageNav.js"></script>        @*分页js*@
    <link href="~/js/zpageNav.css" rel="stylesheet" />   @*分页样式*@
    <script src="~/js/echarts.min.js"></script>    @*Echarts图*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @*选项卡*@

    <link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css" rel="stylesheet">


    <script src="https://cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>

    <link href="~/ntabs/css/nth-tabs.css" rel="stylesheet" />
    <script src="~/ntabs/js/nth-tabs.js"></script>
</head>
<body>
    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            @*<div class="panel-heading">我的待阅<span>{{sum}}</span><a href="" title="More" style="color:deepskyblue;float:right">More</a></div>*@
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li style="width:200px" class="active" data="0"><a href="#bulletin" role="tab" data="0">我的待阅</a></li>
                <li style="width:150px" data="1"><a href="#rule" role="tab" data="1">我的待办</a></li>
                <li style="width:200px"><a href="#forum" role="tab" data="2">我的已办</a></li>
            </ul>
            <!-- 选项卡面板 -->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="bulletin">
                    我的待阅
                </div>
                <div class="tab-pane " id="rule">
                    我的代办
                </div>
                <div class="tab-pane " id="forum">
                    我的已办
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">积分排名</div>
            <div id="main" style="width:1200px;height:400px;margin-left:250px"></div>
        </div>
        <div class="panel panel-primary" style="height:500px">
            <div class="panel-heading">红绿灯状态</div>
            <br />
            <input id="tableshow" type="button" value="切换表格" class="btn btn-primary" />
            <div id="statetable" style="float:left">
                <table class="table table-bordered table-striped text-center" style="width:1000px;margin-left:50px">
                    <thead>
                        <tr>
                            <td>目标序号</td>
                            <td>公司名称</td>
                            <td>目标状态</td>
                            <td>状态总数</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="statedata in statetable">
                            <td><a v-on:click="detailsById(statedata.goal_Id,statedata.feedbackNowEvolve)">{{statedata.goal_Id}}</a></td>
                            <td>{{statedata.role_Name}}</td>
                            <td>{{statedata.goalState_Id}}</td>
                            <td>{{statedata.statecount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="float:left" id="echartshow">
                <div id="redblue" style="width:700px;height:400px;margin-left:250px"></div>
            </div>
            <div style="float:right;width:700px;height:358px">
                <div id="redblueechart" style="width:700px;height:400px;margin-right:250px"></div>
            </div>
        </div>
        <div id="app" class="panel panel-primary" style="height:370px">
            <div class="panel-heading">运行情况</div>
            <div id="condition" style="float:left;width:50%;height:300px;margin-left:30px;">
            </div>
            <div>
                <table style="width:500px;margin-top:50px" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <td>目标状态</td>
                            <td>数量</td>
                            <td>比例</td>
                            <td>说明</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="data in condition" class="data-row">
                            <td>{{data.goalState_Name}}</td>
                            <td>{{data.count}}</td>
                            <td>{{data.percent}}%</td>
                            <td>{{data.goalState_Explain}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script type="module">
    var acc = 0;
    var state = 0;
    var getcontainer = "";
    $(function () {
        getdata(0)
        $("#myTab a").click(function (e) {
            e.preventDefault();
            //调用函数追加表格
            acc = $(this).attr("data");
            getdata(acc);
            $(this).tab("show");
        });
    })

    //待办 已办 待阅信息
    function getdata(stateid) {
        getcontainerBynum(stateid)
        var str = "";
        $.ajax({
            url: "/WaitRead/GetWaitDoList",
            type: "get",
            data: {
                id:@ViewBag.id,
                state:stateid,
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#" + getcontainer).empty();
                    $(data).each(function () {
                        str+="<table class='table table-bordered table-striped text-center'>"
                                +"<thead>"
                                    +"<tr>"
                                        +"<td>业务名称</td>"
                                        +"<td>完成情况</td>"
                                        +"<td>级别</td>"
                                        +"<td>责任人</td>"
                                        +"<td>完成时间</td>"
                                        +"<td>当期进度</td>"
                                        +"<td>状态</td>"
                                    +"</tr>"
                                +"</thead>"
                                +"<tbody>"
                                    + "<tr class='data-row'>"
                                        + "<td><a href='' onclick='details(" + this.goalId + "+"+this.feedbackNowEvolve+")'>" + this.goalName + "</a></td>"
                                        +"<td>"+this.goalStateName+"</td>"
                                        +"<td>"+this.indexLevelGrade+"</td>"
                                        +"<td>"+this.goalChargePeople+"</td>"
                                        +"<td>"+this.goalEndTime+"</td>"
                                        +"<td>"+this.feedbackNowEvolve+"</td>"
                                        +"<td>"+this.goalStateName+"</td>"
                                    +"</tr>"
                                +"</tbody>"
                            +"</table>"
                    })
                    $("#" + getcontainer).append(str);
                }
            }
        })
    }

    //根据传值判断表格所要追加的容器
    function getcontainerBynum(num) {
        switch (num) {
            case "0": getcontainer = "bulletin"; state = 0; break;
            case "1": getcontainer = "rule"; state = 1; break;
            case "2": getcontainer = "forum"; state = 2; break;
        }
    }

    var vm = new Vue({
        el: "#app",
        data: {
            waitread: [],
            condition: [],
            statetable: [],
            page: 1,
            pageSize: 4,
            total: 100,
            maxPage: 9,
            sum: 0
        },
        mounted() {   //钩子函数
            this.getRunCondition();   //运行情况
            getintegral();         //积分排名
            getredgreen();         //红绿灯情况
            getCondition();        //运行情况
            this.getStateTable();       //红绿灯表格
            $("#statetable").hide();
        },
        methods: {
            getRunCondition: function () {     //运行情况
                axios.get('@Url.Action("GetRunCondition","WaitRead")').then(
                    (response) => {
                        this.condition = response.data   //运行情况表格显示
                    }
                )
            },
            details: function (id, progressid) {         //点击目标名称跳转到目标详情页面
                //alert(id);
                //alert(progressid)
                location.href = '/WaitRead/TargetDetails?id=' + id + "&progressid=" + progressid;
            },
            getStateTable: function () {      //红绿灯状态表格
                axios.get('@Url.Action("GetBusinessStateTableList","WaitRead")').then(
                    (response) => {
                        this.statetable = response.data;   //红绿灯状态表格显示
                    }
                )
            },
            detailsById: function (id, progressid) {    //点击数字显示详情
                alert(id)
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 2,
                        title:"目标详情",
                        shadeClose: true,
                        shade: 0.8,
                        area: ['1000px', '700px'],
                        content: "/WaitRead/TargetDetails?id=" + id,
                    });
                })
            }
        }
    })

    //积分排名
    function getintegral() {
        var myCharty = echarts.init(document.getElementById('main'))
        var alldata = [];
        $.ajax({
            url: "/WaitRead/GetIntergalUser",
            type: "get",
            data: {id:@ViewBag.id},
            dataType: "json",
            success: function (data) {
                alldata.push(data.datacount);
                alldata.push(data.dataname);
                var option = {
                        title : {
                            text: '积分排名',
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['蒸发量','降水量']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type: 'category',
                                data: alldata[1],
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'积分总数',
                                type: 'bar',
                                data: alldata[0],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ]
                                }
                            },
                        ]
                };
                myCharty.setOption(option);
                }
            })
        }

    //红绿灯情况
    function getredgreen() {
        var red = [];
        var yellow = [];
        var green = [];
        var myCharty=echarts.init(document.getElementById('redblue'))
                 $.ajax({
                        url: "http://localhost:8888/api/TrafficLightRanking/GetTrafficLightRankingList",
                        type: "get",
                        success: function (data) {
                            $(data).each(function () {
                                var rednums = parseFloat(this.redlightPercentage) * 100;
                                var yellows = parseFloat(this.yellowLightPercentage) * 100;
                                var greens = parseFloat(this.greenLightPercentage) * 100;
                                red.push(rednums);
                                yellow.push(yellows);
                                green.push(greens);
                            })
                            console.log(data);

                            var option = {
                                tooltip: {
                                    trigger: 'axis',
                                    formatter: '{c}%',
                                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['直接访问', '邮件营销', '联盟广告']
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },
                                calculable: true,
                                xAxis: [
                                    {
                                        //type: 'value'
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'category',
                                        data: ["东旭光电", "东旭白云", "东旭蓝天", "东旭黑土"]
                                    }
                                ],
                                series: [
                                    {
                                        name: '红灯',
                                        type: 'bar',
                                        barWidth: '40%',
                                        stack: '总量',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    // build a color map as your need.
                                                    var colorList = [
                                                        '#FF4500'
                                                    ];
                                                    return colorList[params.dataIndex]
                                                },
                                                label: {
                                                    show: true,
                                                    position: 'insideRight',
                                                    formatter: '{b}\n{c}%'　　　　//这是关键，在需要的地方加上就行了
                                                }
                                            }
                                        },
                                        data: red
                                    },
                                    {
                                        name: '黄灯',
                                        type: 'bar',
                                        stack: '总量',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    // build a color map as your need.
                                                    var colorList = [
                                                        '#FFC125'
                                                    ];
                                                    return colorList[params.dataIndex]
                                                },
                                                label: {
                                                    show: true,
                                                    position: 'insideRight',
                                                    formatter: '{b}\n{c}%'　　　　//这是关键，在需要的地方加上就行了
                                                }
                                            }
                                        },
                                        data: yellow
                                    },
                                    {
                                        name: '绿灯',
                                        type: 'bar',
                                        stack: '总量',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    // build a color map as your need.
                                                    var colorList = [
                                                        '#4EEE94'
                                                    ];
                                                    return colorList[params.dataIndex]
                                                },
                                                label: {
                                                    show: true,
                                                    position: 'insideRight',
                                                    formatter: '{b}\n{c}%'　　　　//这是关键，在需要的地方加上就行了
                                                }
                                            }
                                        }, data: green
                                    }
                                ]
                            };
                            //使用刚指定的配置项和数据显示图表
                            myCharty.setOption(option);
                 }
          })
    }

    //切换表格
    $("#tableshow").click(function () {
        if ($("#tableshow").val()=="切换表格") {
            //alert(111)
            $("#statetable").show();
            $("#echartshow").hide();
            $("#tableshow").val("切换柱状图");
        }
        else if ($("#tableshow").val() == "切换柱状图") {
            //alert(222)
            $("#tableshow").val("切换表格");
            $("#statetable").hide();
            $("#echartshow").show();
        }
    })

    //运行情况
    function getCondition() {
        var dataname = [];
        var datacount = [];
        var runCondition = echarts.init(document.getElementById('condition'))
        $.ajax({
            url: "/WaitRead/GetEchartRunCondition",
            type: "get",
            dataType:"json",
            success: function (data) {
                for (var i = 0; i < data.dataname.length; i++) {
                    dataname.push(data.dataname[i]);
                }
                for (var i = 0; i < data.datacount.length; i++) {
                    datacount.push(data.datacount[i]);
                }
                    var option = {
                            title : {
                                text: '运行情况',
                                x:'center'
                            },
                            tooltip : {
                                trigger: 'item',
                                formatter: "{a} <br />{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: dataname
                            },
                            series : [
                                {
                                    name: '访问来源',
                                    type: 'pie',
                                    radius : '55%',
                                    center: ['50%', '60%'],
                                    data: [
                                        { "value": datacount[0], "name": dataname[0] },
                                        { "value": datacount[1], "name": dataname[1] },
                                        { "value": datacount[2], "name": dataname[2] },
                                        { "value": datacount[3], "name": dataname[3] },
                                        { "value": datacount[4], "name": dataname[4] },
                                    ],
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        runCondition.setOption(option);
                    }
                })
           }

</script>