
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理层首页</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">我的待阅<span>({{sum}})</span></div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <td>业务名称</td>
                        <td>完成情况</td>
                        <td>级别</td>
                        <td>责任人</td>
                        <td>完成时间</td>
                        <td>当期进度</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in waitread" class="data-row">
                        <td>{{data.goalName}}</td>
                        <td>{{data.goalStateName}}</td>
                        <td>{{data.indexLevelGrade}}</td>
                        <td>{{data.goalChargePeople}}</td>
                        <td>{{data.goalEndTime}}</td>
                        <td>{{data.feedbackNowEvolve}}</td>
                        <td>{{data.feedbackId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">积分排名</div>
            <div id="main" style="width:1200px;height:400px;margin-left:250px"></div>
        </div>
        <div class="panel panel-primary" style="height:400px">
            <div class="panel-heading">红绿灯状态</div>
            <div style="float:left">
                <div id="redblue" style="width:700px;height:400px;margin-left:250px"></div>
            </div>
            <div style="float:right;width:700px;height:358px">
                <div id="dfd" style="width:700px;height:400px;margin-right:250px"></div>
            </div>
        </div>
        <div class="panel panel-primary" style="height:400px">
            <div class="panel-heading">运行情况</div>
            <div id="main" style="width:1200px;height:400px;margin-left:250px"></div>
        </div>
    </div>
</body>
</html>
<script type="module">
    var vm = new Vue({
        el: "#app",
        data: {
            waitread: [],
            sum:0,
        },
        mounted() {
            this.getWaitRead();
            getintegral();
            getredgreen();
        },
        methods: {
            getWaitRead: function () {
                axios.get('@Url.Action("GetWaitReadList","WaitRead")', { params:{id:@ViewBag.id}}).then(
                    (response) => {
                        this.waitread = response.data;
                    }
                )
            }
        }
    })

    //积分排名
    function getintegral() {
          var myCharty=echarts.init(document.getElementById('main'))
          var option = {
                title : {
                    text: '某地区蒸发量和降水量',
                    subtext: '纯属虚构'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['蒸发量','降水量']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'蒸发量',
                        type:'bar',
                        data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '平均值'}
                            ]
                        }
                    },
                    {
                        name:'降水量',
                        type:'bar',
                        data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                        markPoint : {
                            data : [
                                {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                                {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name : '平均值'}
                            ]
                        }
                    }
                ]
            };
            myCharty.setOption(option);
        }

    function getredgreen() {
        var myCharty=echarts.init(document.getElementById('redblue'))
        var option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data:['直接访问', '邮件营销','联盟广告','视频广告','搜索引擎']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'value'
                    }
                ],
                yAxis : [
                    {
                        type : 'category',
                        data : ['周一','周二','周三','周四','周五','周六','周日']
                    }
                ],
                series : [
                    {
                        name:'直接访问',
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
                        data:[320, 302, 301, 334, 390, 330, 320]
                    },
                    {
                        name:'邮件营销',
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'联盟广告',
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'视频广告',
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
                        data:[150, 212, 201, 154, 190, 330, 410]
                    },
                    {
                        name:'搜索引擎',
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
                        data:[820, 832, 901, 934, 1290, 1330, 1320]
                    }
                ]
            };
         myCharty.setOption(option);
    }
</script>
