
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>目标详情页面</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>             @*vue*@
    <script src="~/js/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <span>当前办理进度</span>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">指标信息</div>
            <table class="table table-bordered table-striped text-center" v-for="data in target">
                <tr>
                    <td>指标类别:</td>
                    <td>指标类型:</td>
                    <td>指标等级:</td>
                    <td>反馈频次:</td>
                </tr>
                <tr>
                    <td>责任部门:</td>
                    <td>责任人:</td>
                    <td>填报人:</td>
                    <td>协办人:</td>
                </tr>
                <tr>
                    <td>开始日期:</td>
                    <td>周期:</td>
                    <td>完成日期:</td>
                    <td>考核权重:</td>
                </tr>
            </table>
            <div></div>
            <div class="panel-heading">执行情况</div>
            <table class="table table-bordered table-striped text-center">
                <tr>
                    <td>年度目标</td>
                    <td>累计达成</td>
                    <td>累计达成率</td>
                    <td>反馈周期</td>
                    <td>当日&周进展</td>
                    <td>附件</td>
                </tr>
            </table>
            <div class="panel-heading">确认流程</div>
            <table class="table table-bordered table-striped text-center">
                
            </table>
        </div>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            target: []
        },
        mounted() {
            this.getdata();
        },
        methods: {
            getdata: function () {
                axios.get("@Url.Action("DetailsShow","WaitRead")", { params: { id:@ViewBag.id} }).then(
                    (response) => {
                        this.target = response.data;
                    }
                )
            }
        }
    })
</script>
