@using DongXu.Target.Web.Conn;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRoleR</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="addrole">
        <table class="layui-table">
            <tr>
                <td>人员姓名</td>
                <td><input id="" type="text" v-model="UserRealName" /></td>
            </tr>
            <tr>
                <td>用户标识</td>
                <td>
                    <select id="" v-model="User_IdentityId">
                        <option value="5" selected="selected">--请选择--</option>
                        <option :value="item.Id" v-for="item in identity">{{item.Name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>选择角色</td>
                <td><span v-for="item in user"><input id="Checkbox1" name="qx" type="checkbox" :value="item.roleId" v-on:click="GetRoleId(item.roleId,item.roleName)" /><label>{{item.roleName}}</label></span></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="Button1" type="button" value="修改" class="layui-btn layui-btn-normal" onclick="UptRole()" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var RoleCreatePeople = "管理员";
    if (month < 10) {
        month = "0" + month;
    }
    if (day < 10) {
        day = "0" + day;
    }
    var nowDate = year + "-" + month + "-" + day;

    var vm = new Vue({
        el: "#addrole",
        data: {
            identity: [
                { Id: '0', Name: '总裁' },
                { Id: '1', Name: '经理' },
                { Id: '2', Name: '职员' }
            ],
            user: [],
            UserRealName: "",
            UserName: "",
            UserPass: "",
            User_IdentityId: "",
            roleId: [],
            roleName: []
        },
        created() {
            this.GetRoleList(),
            this.GetUserById(@ViewBag.id)
        },
        methods: {
            GetRoleList: function () {
                axios.get("/Authorization/GetRolesRList").then((response) => {
                    this.user = response.data;
                });
            },
            GetUserById: function (id) {
                axios.get("/Authorization/GetUserById", { params: { userId:id} }).then((response) => {
                    this.UserRealName = response.data.userRealName;
                    this.User_IdentityId = response.data.user_IdentityId;
                });
            },
            UptRole: function (RoleName, RolePid, RoleContent) {
                var params = new URLSearchParams();
                params.append('RoleName', RoleName);
                params.append('RoleIdentify', 3);
                params.append('RoleIsEnable', 1);
                params.append('RolePid', RolePid);
                params.append('RoleContent', RoleContent);
                params.append('RoleCreateTime', nowDate);
                params.append('RoleCreatePeople', RoleCreatePeople);
                axios.post("/Organization/AddRole", params).then((response) => {
                    if (response.data > 0) {
                        this.AddRolePower(response.data, this.powerId);
                    }
                });
            },
        }
    })


    $(function () {
        GetUserroleById(@ViewBag.id);
    });
    function GetUserroleById(id) {
        $.ajax({
            url: '/Authorization/GetUserroleById?userId=' + id,
            type: 'get',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var qx = document.getElementsByName("qx");
                    for (var j = 0; j < qx.length; j++) {
                        if (data[i].roleId == qx[j].value) {
                            qx[j].checked = true;
                        }
                    }
                }
            }
        })
    };
    function UptRole() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        var nowDate = year + "-" + month + "-" + day;
        var JId = new Array();
        var JName = [];
        $("input[type=Checkbox]:checked").each(function () {
            JId.push($(this).val());
            JName.push(this.nextSibling.nodeValue);
        })
        var Role = JSON.stringify(JId);
        var RoleName = JSON.stringify(JName);
        var model = { UserId:@ViewBag.id, UserRealName: vm.$data.UserRealName, User_IdentityId: vm.$data.User_IdentityId, RoleModifyPeople: "超级管理员", RoleModifyTime: nowDate, Role: Role, UserRoleName: RoleName};
        var val = JSON.stringify(model);
            $.ajax({
                url: "@APIConn.MyAPIConn" +"Authorization/UpdateUser",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: val,
                crossDomain: true,
                dataType: 'json',
                success: function (data) {
                    if (data > 0) {
                        alert('修改成功');
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        location.href = '/Authorization/Index';
                    }
                }
            });
    }
</script>