@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>目标管理</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/zTree_v3/js/jquery.ztree.all.min.js"></script>             @*ztree*@
    <link href="~/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>             @*vue*@
    <script src="~/js/axios.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>   @*layui模态框*@
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <style>
    #ztree {
        width: 130%;
        height: 100%;
        float: left;
        border: 1px solid #000
    }

  </style>
</head>
<body>
    <div id="goaltree" style="        float: left;
        padding-left: 100px">
        <div style="        height: 1500px;
        width: 200px">
            <div style="        font-size: 20px">
                <div class="panel-heading">
                    目标库
                    <div style="        float: right">
                        <input id="Button1" type="button" value="目标下达" onclick="goalAdd()" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div>
                <div class="panel-heading">
                    目标名称
                    <div style="        float: right">
                        状态
                    </div>
                </div>
                <ul id="ztree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div style="        float: right;
        padding-right: 150px">
        <div class="panel panel-primary">
            <div class="panel-heading">目标详情</div>
            <div id="app">

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">指标分解</div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <td>月份</td>
                        <td>1月</td>
                        <td>1-2月</td>
                        <td>1-3月</td>
                        <td>1-4月</td>
                        <td>1-5月</td>
                        <td>1-6月</td>
                        <td>1-7月</td>
                        <td>1-8月</td>
                        <td>1-9月</td>
                        <td>1-10月</td>
                        <td>1-11月</td>
                        <td>年度目标</td>
                    </tr>
                </thead>
                <tbody id="indexs">
                    <tr>
                        <td>月份</td>
                        <td>1月</td>
                        <td>1-2月</td>
                        <td>1-3月</td>
                        <td>1-4月</td>
                        <td>1-5月</td>
                        <td>1-6月</td>
                        <td>1-7月</td>
                        <td>1-8月</td>
                        <td>1-9月</td>
                        <td>1-10月</td>
                        <td>1-11月</td>
                        <td>年度目标</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">反馈确认</div>
            <div style="        padding-left: 100px;
        font-size: 20px">
                确认流程
            </div>
            <div style="        padding-left: 250px" id="audituser">
                <p></p>
            </div>
        </div>
        <div style="        float: right">
            <input id="setuser" type="button" value="设置关注人" class="btn btn-primary" />&nbsp;&nbsp;
            <input id="delgoal" type="button" value="指标删除" class="btn btn-primary" />&nbsp;&nbsp;
            <input id="Button1" type="button" value="指标调整" class="btn btn-primary" />
        </div>             
    </div>
</body>
</html>
<script>
    //文档就绪函数
    $(function () {
        getGoalList();
        getNodeDetailsById(10);
    })

    //ztree配置信息
    var setting = {
        view: {
            dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
            showLine: true,//是否显示节点之间的连线
            fontCss: { 'color': 'black', 'font-weight': 'bold' },//字体样式函数
            selectedMulti: true, //设置是否允许同时选中多个节点
        },
        check: {
            //chkboxType: { "Y": "ps", "N": "ps" },
            chkboxType: { "Y": "", "N": "" },
            chkStyle: "checkbox",//复选框类型
            enable: true //每个节点上是否显示 CheckBox
        },
        //增删改，移动复制
        edit: {
            enable: true, //如果enable为flase，那么树就不能移动了
            showRemoveBtn: false, //是否显示树的删除按钮
            showRenameBtn: false, //是否显示数的重命名按钮
            isSimpleData: true, //数据是否采用简单 Array 格式，默认false
            treeNodeKey: "id",  //在isSimpleData格式下，当前节点id属性
            treeNodeParentKey: "parentId",//在isSimpleData格式下，当前节点的父节点id属性
            showLine: true, //是否显示节点间的连线
            removeTitle: "删除节点",//删除Logo的提示
            renameTitle: "编辑节点",//修改Logo的提示
            //拖拽
            drag: {
                isCopy: true,//能够复制
                isMove: true,//能够移动
                prev: false,//不能拖拽到节点前
                next: false,//不能拖拽到节点后
                inner: true//只能拖拽到节点中
            }
        },
        data: {
            simpleData: {//简单数据模式
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: null
            },
            keep: {
                parent: true
            }
        },
        callback: {
            beforeExpand: zTreeBeforeExpand, // 用于捕获父节点展开之前的事件回调函数，并且根据返回值确定是否允许展开操作
           /// onRightClick : OnRightClick,
            //单击事件
            onClick: zTreeOnClick,
        }
    };

    //右击树
    function OnRightClick(event, treeId, treeNode) {    
        if(treeNode == null) {
            var a = 1; // 什么都不做
        }else if(treeNode && treeNode.name) {
            curName = treeNode.name;
        }else {
            curName = undefined;
        }   
        if (!treeNode && event.target.tagName.toLowerCase() != "button"
                && $(event.target).parents("a").length == 0) {
            zTree.cancelSelectedNode();
            $("#idCipherText").val("");
            showRMenu("root", event.clientX, event.clientY);
        } else if (treeNode && !treeNode.noR) {
            zTree.selectNode(treeNode);
         
            if(treeNode.id) {
                $("#idCipherText").val(treeNode.id);
            }
            showRMenu("node", event.clientX, event.clientY);
        }
        $("#typeIdCipherText").val($("#docType").attr("value"));
    }

    function zTreeBeforeExpand(treeId, treeNode) {
        return true;
    };

    //获取结点
    function getGoalList() {
        $.ajax({
            url: "/GoalManage/GetJsonGoalTree",
            type: "get",
            async: false,
            success: function (data) {
                var json = eval(data); // 数组
                zNodes = "[";
                $.each(json, function (index, item) {
                    if (json[index].goal_ParentId == 0) {
                        zNodes += "{id:" + json[index].goalId
                            + ",pId:" + json[index].goal_ParentId
                            + ",name:'" + json[index].goalName
                            + "',open:true}";
                    }
                    else {
                        zNodes += "{id:" + json[index].goalId
                            + ",pId:" + json[index].goal_ParentId
                            + ",name:'" + json[index].goalName
                            + "'}";
                    }
                    if (index != json.length - 1)
                        zNodes += ",";
                });
                zNodes += "]";
                zNodes = eval(zNodes);
                zTreeObj = $.fn.zTree.init($("#ztree"), setting, zNodes);
            },
            error: function (e) {
                alert(e)
            }
        });
    };

    //点击事件
    function zTreeOnClick(event, treeId, treeNode) {   //treeNode节点信息
        getNodeDetailsById(treeNode.id, treeNode.name);    //传递目标id
        addAttention(treeNode.id);   //添加关注人
        getUserName(treeNode.id)    //目标审核人
        getIndexData(treeNode.id)    //指标分解数据
    }

    //判断设置关注人按钮是否被选中
    function addAttention(id) {
        if (id == "") {
            return false;
        }
        $("#setuser").bind('click', function () {
            addAttentionUser(id)  //添加关注人
            return false;
        });
        $("#delgoal").bind('click', function () {
            deleteGoal(id)
            return false;
        })

    }

    function deleteGoal(id) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.confirm('确认要禁用该指标吗?', {
                btn: ['确定', '取消']
            }, function () {
                    $.ajax({
                        url: "/GoalManage/UpdateState",
                    })
            })
        })
    }

    //获取审核人
    function getUserName(id) {
        $.ajax({
            url: "/GoalManage/GetUserNameByGoalId",
            type: "get",
            data: {
                id: id
            },
            success: function (data) {
                $("#audituser").empty();
                if (data.length > 0) { 
                    for (var i = 0; i < data.length; i++) {
                        var str = "<p style='font-size:20px'>√  " + data[i].user_RealName + "</p>";
                        $("#audituser").append(str);
                    }
                }
            }
        })
    }

    //获取指标分解数据
    function getIndexData(id) {
        $.ajax({
            url: "/GoalManage/GetIndexsByGoalId",
            type: "get",
            data: {
                id: id
            },
            success: function (data) {
                $("#indexs").empty();
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var str = "<tr>"
                            + "<td>'2019'</td>"
                            + "<td>" + data[i].indexsJanuary + "</td>"
                            + "<td>" + data[i].indexsFebruary + "</td>"
                            + "<td>" + data[i].indexsMarch + "</td>"
                            + "<td>" + data[i].indexsApril + "</td>"
                            + "<td>" + data[i].indexsMay + "</td>"
                            + "<td>" + data[i].indexsJune + "</td>"
                            + "<td>" + data[i].indexsJuly + "</td>"
                            + "<td>" + data[i].indexsAugust + "</td>"
                            + "<td>" + data[i].indexsSeptember + "</td>"
                            + "<td>" + data[i].indexsOctober + "</td>"
                            + "<td>" + data[i].indexsNovember + "</td>"
                            + "<td>" + data[i].indexsYearTarget + "</td>"
                            + "</tr>";
                        $("#indexs").append(str);
                    }
                }
            }
        })
    }

    //根据id查询目标详情
    function getNodeDetailsById(id, name) {   //获取节点id 查询详情
        $.ajax({
            url: "/GoalManage/GetGoalDetailsById",
            type: "get",
            data: { id: id },
            success: function (data) {
                if (data.length > 0) {
                    $("#app").empty();
                    for (var i = 0; i < data.length; i++) {
                        var str = "<table class='table table-bordered table-striped text-center' style='width: 1300px'>"
                            + "<tr>"
                            + "<td>指标名称:<span>" + name + "</span></td>"
                            + "<td>指标单位:<span>" + data[i].role_Name + "</span></td>"
                            + "<td>主治标:<span>2019年集团经营目标</span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>指标类型:<span>" + data[i].goalType_Name + "</span></td>"
                            + "<td>指标类别:<span>" + data[i].goalType_Name + "</span></td>"
                            + "<td>指标等级:<span>" + data[i].indexLevel_Grade + "</span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>反馈频次</td>"
                            + "<td colspan='3'><span>" + data[i].frequency_Name + "</span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>开始时间:<span>" + data[i].goal_CreateTime + "</span></td>"
                            + "<td>完成时间:<span>" + data[i].goal_EndTime + "</span></td>"
                            + "<td>周期:<span></span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>责任单位:<span>" + data[i].role_Name + "</span></td>"
                            + "<td>责任人:<span>" + data[i].goal_ChargePeople + "</span></td>"
                            + "<td>考核权重:<span>" + data[i].goal_Weight + "</span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>填报人:<span>" + data[i].goal_Informant + "</span></td>"
                            + "<td>协办人:<span>" + data[i].goal_Organiser + "</span></td>"
                            + "<td></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>计算公式/评价标准</td>"
                            + "<td colspan='3'><span></span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>数据来源</td>"
                            + "<td colspan='3'><span></span></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td>支持表格</td>"
                            + "<td colspan='3'><span><a href='#'>" + data[i].file_Name + "</a></span></td>"
                            + "</tr>"
                            + "</table>"
                        $("#app").append(str);
                    }
                }
            }
        })
    }

    //目标下达
    function goalAdd() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: "目标详情",
                shadeClose: true,
                shade: 0.8,
                area: ['1700px', '800px'],
                content: "/GoalManage/GoalAdd",
            });
        })
    }

    //设置关注人
    function addAttentionUser(id) {
        if (id == "") {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('请先选择一个目标');
            })
            return false;
        }
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: "设置关注人",
                shadeClose: true,
                shade: 0.8,
                area: ['500px', '500px'],
                content: "/GoalManage/AddAttentionUser?id=" + id,
            });
        })
    }
</script>