@using DongXu.Target.Web.Conn;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRoleR</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="addrole">
        <table class="layui-table">
            <tr>
                <td>角色姓名</td>
                <td colspan="2"><input id="txtName" type="text" v-model="RoleName" /></td>
            </tr>
            <tr>
                <td>所属部门</td>
                <td colspan="2">
                    <select id="roleo" v-model="RolePid">
                        <option v-for="item in rolesOList" :value="item.roleId">{{item.roleName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>角色描述</td>
                <td colspan="2"><input id="txtContext" type="text" v-model="RoleContent" /></td>
            </tr>
            <tr>
                <td colspan="3">选择权限</td>
            </tr>
            <tr>
                <td colspan="3"><span v-for="item in power" style="padding-left:20px"><span style="width:150px;display:inline-block"><input id="Checkbox1" name="qx"  type="checkbox" :value="item.powerId" v-on:click="GetPowerId(item.powerId)" /><label>{{item.powerName}}</label></span><label v-if="item.powerId%5===0"><br /></label></span></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><input id="Button1" type="button" value="修改" class="layui-btn layui-btn-normal" onclick="UptRole()" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var RoleCreatePeople = "管理员";
    if (month < 10) {
        month = "0" + month;
    }
    if (day < 10) {
        day = "0" + day;
    }
    var nowDate = year + "-" + month + "-" + day;

    var vm = new Vue({
        el: "#addrole",
        data: {
            rolesOList: [],
            power: [],
            RoleName: "",
            RolePid: "",
            RoleContent: "",
            powerId: []
        },
        created() {
                this.GetRolesOList(),
                this.GetPowerList(),
                this.GetRoleById(@ViewBag.id),
                this.GetRolepowerById(@ViewBag.id)
        },
        methods: {
            GetRolesOList: function () {
                axios.get("/Organization/GetRolesOList").then((response) => {
                    this.rolesOList = response.data;
                });
            },
            GetPowerList: async function () {
                axios.get("/Organization/GetAllPowerList").then((response) => {
                    this.power = response.data;
                });
            },
            GetRoleById: function (id) {
                axios.get("/Organization/GetRoleById", { params: { roleId:id} }).then((response) => {
                    this.RoleName = response.data.roleName;
                    this.RolePid = response.data.rolePid;
                    this.RoleContent = response.data.roleContent;
                });
            },
            UptRole: function (RoleName, RolePid, RoleContent) {
                var params = new URLSearchParams();
                params.append('RoleName', RoleName);
                params.append('RoleIdentify', 3);
                params.append('RoleIsEnable', 1);
                params.append('RolePid', RolePid);
                params.append('RoleContent', RoleContent);
                params.append('RoleCreateTime', nowDate);
                params.append('RoleCreatePeople', RoleCreatePeople);
                axios.post("/Organization/AddRole", params).then((response) => {
                    if (response.data > 0) {
                        this.AddRolePower(response.data, this.powerId);
                    }
                });
            },
            GetPowerId: function (powerId) {
                this.powerId.push(powerId);
            },
            AddRolePower: function (rid) {
                var params = new URLSearchParams();
                params.append('rid', rid);
                params.append('power', JSON.stringify(this.powerId));
                axios.post("/Organization/AddRolePower", params).then((response) => {
                    if (response.data > 0) {
                        alert('添加成功');
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        location.href = '/Organization/RoleIndex';
                    }
                });
            },
            GetRolepowerById: async function (id) {
                await axios.get("/Organization/GetRolepowerById", { params: { roleId: id } }).then((response) => {
                    setTimeout(() => {
                        var qx = document.getElementsByName("qx");
                        for (var i = 0; i < response.data.length; i++) {
                            for (var j = 0; j < qx.length; j++) {
                                if (response.data[i].powerId == qx[j].value) {
                                    qx[j].checked = true;
                                }
                            }
                        }
                    }, 100); 
                })
            }
        }
    })
</script>
<script>
    @*$(function(){
         GetRolepowerById(@ViewBag.id);
    })*@
    //function GetRolepowerById(id) {
    //    $.ajax({
    //        url: '/Organization/GetRolepowerById?roleId=' + id,
    //        type: 'get',
    //        success: function (data) {
    //            for (var i = 0; i < data.length; i++) {
    //                var qx = document.getElementsByName("qx");
    //                for (var j = 0; j < qx.length; j++) {
    //                    if (data[i].powerId == qx[j].value) {
    //                        qx[j].checked = true;
    //                    }
    //                }
    //            }
    //        }
    //    })
    //}
    function UptRole() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        var nowDate = year + "-" + month + "-" + day;
        var JId = new Array();
        $("input[type=Checkbox]:checked").each(function () {
            JId.push($(this).val());

        })
       var power= JSON.stringify(JId);
        var model = { RoleId:@ViewBag.id, RoleName: vm.$data.RoleName, RolePid: vm.$data.RolePid, RoleContent: vm.$data.RoleContent, RoleModifyPeople: "超级管理员", RoleModifyTime: nowDate, power: power };
        var val = JSON.stringify(model);
            $.ajax({
                url: "@APIConn.MyAPIConn" +"Organization/UpdateRoles",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: val,
                crossDomain: true,
                dataType: 'json',
                success: function (data) {
                    if (data > 0) {
                        alert('修改成功');
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        location.href = '/Organization/RoleIndex';
                    }
                }
            });
    }
</script>