
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>东旭目标管理系统</title>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="~/HH/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="~/HH/css/font-awesome.min.css-v=4.4.0.css" rel="stylesheet">
    <link href="~/HH/css/animate.min.css" rel="stylesheet">
    <link href="~/HH/css/style.min.css-v=4.0.0.css" rel="stylesheet">

    <script src="~/HH/js/jquery.min.js-v=2.1.4.js"></script>



</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">

                <ul class="nav" id="side-menu" style="display: block;">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">欢迎您：@ViewBag.name</strong></span>
                                </span>
                                <div class="weather" pc>
                                    <div id="tp-weather-widget"></div>
                                    <script>(function (T, h, i, n, k, P, a, g, e) { g = function () { P = h.createElement(i); a = h.getElementsByTagName(i)[0]; P.src = k; P.charset = "utf-8"; P.async = 1; a.parentNode.insertBefore(P, a) }; T["ThinkPageWeatherWidgetObject"] = n; T[n] || (T[n] = function () { (T[n].q = T[n].q || []).push(arguments) }); T[n].l = +new Date(); if (T.attachEvent) { T.attachEvent("onload", g) } else { T.addEventListener("load", g, false) } }(window, document, "script", "tpwidget", "//widget.seniverse.com/widget/chameleon.js"))</script>
                                    <script>
                                        tpwidget("init", {
                                            "flavor": "slim",
                                            "location": "WX4FBXXFKE4F",
                                            "geolocation": "disabled",
                                            "language": "zh-chs",
                                            "unit": "c",
                                            "theme": "chameleon",
                                            "container": "tp-weather-widget",
                                            "bubble": "disabled",
                                            "alarmType": "badge",
                                            "color": "#FFFFFF",
                                            "uid": "U9EC08A15F",
                                            "hash": "14dff75e7253d3a8b9727522759f3455"
                                        });
                                        tpwidget("show");</script>
                                </div>
                            </a>
                        </div>
                        <div class="logo-element">
                            东旭
                        </div>
                    </li>


                    @{
                        switch (ViewBag.name)
                        {
                            case "老板":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">目标管理</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/GoalManage/GoalManageShow" data-index="3">目标管理</a></li></ul></li>
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li>; break;
                            case "码农小李":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li>; break;
                            case "超级管理员":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">首页</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/ManageLayer/" data-index="0">决策层</a></li><li><a class="J_menuItem" href="/WaitRead/ManagementShow/" data-index="1">管理层</a></li><li><a class="J_menuItem" href="/Goal/List/" data-index="2">执行层</a></li></ul></li>
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">目标管理</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/GoalManage/GoalManageShow" data-index="3">目标管理</a></li></ul></li>
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li>
                                <li><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">系统管理</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse"><li><a class="J_menuItem" href="/Organization/Index/" data-index="10">组织管理</a></li><li><a class="J_menuItem" href="/Organization/PostJob" data-index="11">岗位管理</a></li><li><a class="J_menuItem" href="/Organization/RoleIndex" data-index="12">角色管理</a></li><li><a class="J_menuItem" href="/Authorization/Index" data-index="13">授权管理</a></li></ul></li>; break;
                            case "牛文涛":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li> ; break;
                            case "田欣":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li> ; break;
                            case "蔡新元":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li> ; break;
                            case "常珂":
                                <li class=""><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">进度查询</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/RunState/Index" data-index="4">运行情况</a></li><li><a class="J_menuItem" href="/WeekSearch/WeekShow" data-index="5">周报查询</a></li><li><a class="J_menuItem" href="/Target/Index" data-index="6">目标查询</a></li></ul></li>
                                <li class="active"><a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">结果统计</span> <span class="fa arrow"></span></a><ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;"><li><a class="J_menuItem" href="/CompanyIntegral/Show/" data-index="7">积分排名</a></li><li><a class="J_menuItem" href="/TrafficLightRanking/Show" data-index="8">红绿灯排名</a></li><li><a class="J_menuItem" href="/Target/TargetTrack" data-index="9">目标完成率</a></li></ul></li>; break;
                        }
                    }

</ul>

            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;display:none">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index1">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="@Url.Action("LoginOut","Home")" tppabs="http://www.zi-han.net/theme/hplus/login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">

                @{
                    switch (ViewBag.name)
                    {
                        case "老板":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/ManageLayer/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        case "码农小李":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Goal/List/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        case "牛文涛":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/WaitRead/ManagementShow/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        case "田欣":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/WaitRead/ManagementShow/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        case "蔡新元":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/WaitRead/ManagementShow/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        case "常珂":
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/WaitRead/ManagementShow/" frameborder="0" data-id="index1" seamless></iframe>; break;
                        default:
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/ManageLayer/" frameborder="0" data-id="index" seamless></iframe>; break;
                    }
                }





            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; 2014-2015 <a href="javascript:if(confirm(%27http://www.zi-han.net/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zi-han.net/%27" tppabs="http://www.zi-han.net/" target="_blank">zihan's blog</a>
                </div>
            </div>
        </div>


    </div>

</body>
</html>

<script>
    var str = "";
    $(function () {
       //GetPowersByPid();
        app();
                    });
    function GetPowersByPid() {
        $.ajax({
                        url: "/Audit/GetPowersByPid",
            type: "post",
            data: { Power_PId: 0, UserId:@ViewBag.userId },
            async: false,
            success: function (data) {
                                for (var i = 0; i < data.length; i++) {
                                    str += '<li>'
                                        str += '<a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">' + data[i].power_Name + '</span> <span class="fa arrow"></span></a>';
                    $.ajax({
                                    url: "/Audit/GetPowersByPid",
                        type: "post",
                        async: false,
                        data: { Power_PId: data[i].power_Id , UserId:@ViewBag.userId},
                        success: function (obj) {
                                            console.log(obj);
                                            str += '<ul  class="nav nav-second-level">'
                            for (var j = 0; j < obj.length; j++) {
                                                str += '<li><a class="J_menuItem" href="' + obj[j].power_Url + '">' + obj[j].power_Name + '</a></li>'
                            }
                                            str += '</ul>'
                        }
                                    })
                    str += '</li>'
                }
                $("#side-menu").append(str);
                $('#side-menu').metisMenu();
                        }
                    })

    }




    function app() {
        var acc =@ViewBag.press;

        $(acc).each(function () {
            alert();
            console.log(acc);


        })

    }
</script>

<link rel="shortcut icon" href="favicon.ico">
<script src="~/HH/js/bootstrap.min.js-v=3.3.5.js"></script>
<script src="~/HH/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/HH/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/HH/js/plugins/layer/layer.min.js"></script>
<script src="~/HH/js/hplus.min.js-v=4.0.0.js"></script>
<script type="text/javascript" src="~/HH/js/contabs.min.js"></script>
<script src="~/HH/js/plugins/pace/pace.min.js"></script>










