@using DongXu.Target.Web.Conn;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>   @*layui模态框*@
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   <style>
       body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin:0; padding:0; 
    list-style: none;
}
body{background-color: #e3e3e3;margin: 0px;}
#shuttle_box{width:800px;zoom: 1;margin: 100px auto;}
#shuttle_box:after{
   content: ".";
   clear: both;
   display: block;
   height: 0;
   overflow: hidden;
   visibility: hidden;
}
.shuttle_box_li{height: 540px;float: left;}
.shuttle_box_near{width:300px;background-color:#ffffff;overflow-y: scroll;overflow-x:hidden;border-radius: 10px;}
.shuttle_box_li_act{color:#ffffff !important;background-color: #1890ff !important;border-bottom: 1px solid #ffffff;transition: all .01s;}
.shuttle_box_near::-webkit-scrollbar {/*滚动条整体样式*/
       width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
       height: 1px;
   }
.shuttle_box_near::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
       border-radius: 20px;
       background-color: rgba(0,0,0,0.5);
   }
.shuttle_box_near::-webkit-scrollbar-track {/*滚动条里面轨道*/
       background-color: rgba(0,0,0,0.2);
       border-radius: 20px;
   }
.shuttle_box_near li{
   padding:8px;
   border-bottom: 1px solid #ffffff;
   background-color: #f4f4f4;
   cursor: pointer;
   transition: all .5s;
}
.shuttle_box_li_act:hover{opacity: 0.7;transition: all .01s;}
#shuttle_box_mid{width:80px;text-align: center;}
#shuttle_box_mid button{
    width: 50px;
    height:30px;
    display: block;
    margin:20px auto;
    line-height: 30px;
    color:white;
    cursor: pointer;
    background-color: #1890ff;
    border-radius: 5px;
    transition: all .5s;
    border:none;
}
#shuttle_box_mid button:hover{opacity: 0.7;transition: all .5s;}
#shuttle_box_toRight{margin-top:225px !important;}
   </style>
</head>
<body>
    @*<form action="" class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        </form>

                <table>
                    <tr>
                        <th data-field="wrongpercent" data-align="center" data-formatter="wrongPercent">错误率%</th>
                    </tr>
                </table>
                <div style="width:100px" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">40% 完成</span>
                    </div>

                </div>*@
    <ul id="shuttle_box">
        <li class="shuttle_box_li shuttle_box_near">
            <ul id="shuttle_box_left">
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
                <li>上海市人民广场</li>
            </ul>
        </li>
        <li class="shuttle_box_li" id="shuttle_box_mid">
            <button id="shuttle_box_toRight">》》</button>
            <button id="shuttle_box_toLeft">《《</button>
        </li>
        <li class="shuttle_box_li shuttle_box_near">
            <ul id="shuttle_box_right">
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
                <li>上海市徐泾东</li>
            </ul>
        </li>
    </ul>
</body>
</html>
<script>
    $("#shuttle_box_left").on('click', 'li', function () {
    if ($(this).hasClass('shuttle_box_li_act')) {
        $(this).removeClass('shuttle_box_li_act');
    } else {
        $(this).addClass('shuttle_box_li_act');
    }
});
//穿梭框右侧选中
$("#shuttle_box_right").on('click', 'li', function () {
    if ($(this).hasClass('shuttle_box_li_act')) {
        $(this).removeClass('shuttle_box_li_act');
    } else {
        $(this).addClass('shuttle_box_li_act');
    }
});
//向右移动
$("#shuttle_box_toRight").click(function () {
    if ($("#shuttle_box_left .shuttle_box_li_act").length == 0) return false;

    $("#shuttle_box_left").find('.shuttle_box_li_act').appendTo("#shuttle_box_right");
    $("#shuttle_box_right li").removeClass('shuttle_box_li_act');


});
//向左移动
$("#shuttle_box_toLeft").click(function () {
    if ($("#shuttle_box_right .shuttle_box_li_act").length == 0) return false;

    $("#shuttle_box_right .shuttle_box_li_act").appendTo("#shuttle_box_left");
    $("#shuttle_box_left li").removeClass('shuttle_box_li_act');
});

    //layui.use(['form', 'layedit', 'laydate'], function () {
    //    var form = layui.form
    //        , layer = layui.layer
    //        , layedit = layui.layedit
    //        , laydate = layui.laydate;

    //    //日期
    //    laydate.render({
    //        elem: '#date'
    //    });
    //    laydate.render({
    //        elem: '#date1'
    //    });


    //    //自定义验证规则
    //    form.verify({
    //        title: function (value) {
    //            if (value.length < 5) {
    //                return '标题至少得5个字符啊';
    //            }
    //        }
    //    });
    //})

    //$(function () {

    //    wrongPercent();
    //})

    //function wrongPercent(value, row, index) {
    //    var res = 100 * 20 / 70;
    //    return ["<div class='progress'> <div class='progress-bar' role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' style='width:50%'>70</div> </div>"];
    //    //        return res.toFixed(2);
    //}
</script>