
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

    <div>
        <button onclick="testpost()">post</button>
        <button onclick="testget()">get</button>
        <input id="Button1" type="button" value="a" onclick="acc()" />
    </div>
</body>
</html>
<script>

    $(function () {
    })

    function testget() {
        $.ajax({
            url: 'http://localhost:8888/api/values',
            success: function (data) {

                alert(data);
            }
        })
    }

    function testpost() {
        var model = { UserId: 1, RoleId: 1 };
        var val = JSON.stringify(model);
        alert(val)
        $.ajax({
            url: "http://localhost:8888/api/Values/test",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: val,
            crossDomain:true,
            dataType: 'json',
            success: function (data) {
                alert(JSON.stringify(data));
            }
        });
    }

    function acc() {
        var model = { UserId: 1  };
        //var acc = {
        //    "user": {
        //        "userId": 0,
        //        "userName": UserName,
        //        "userPass": UserPass,
        //        "userRealName": UserRealName,
        //        "userIsEnable": UserIsEnable,
        //        "userCreateTime": UserCreateTime,
        //    },
        //    "userRoleid": roleid
        //};
       
        var acc = {
            "userId": 0,
            "userName": 1,
            "userPass": 1,
            "userRealName": 1,
            "userRoleName": 1,
            "userIsEnable": true,
            "userCreateTime": "2019-06-16T13:31:57.236Z",
            "userRoleid": 17
        };
;
        var val = JSON.stringify(acc);


        


        alert("val:" + val);
        $.ajax({
            url: "http://localhost:8888/api/Organization/AddUser",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: val,
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                alert(data);
            }
        });

    }




</script>
