
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <link href="~/HH/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="panel panel-primary" style="height:480px">
    <div class="panel-heading">积分排名</div>
    <br />
        
    <div id="mainresponsibility" style="float:left">
        
            <div style="margin-left: 120px">
                <!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
                <div id='main' style='width: 1000px; height: 400px;'></div>
                <!--引入echarts.js-->
                <script src="~/echars/echarts.js"></script>
                <script>
                    $(function () {
                        $.ajax({
                            url: "/CompanyIntegral/Indexecharts",
                            type: "get",
                            success: function (data) {
                                var name = data.nameList;
                                var num = data.numList;

                                //基于准备好的DOM，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main'));
                                var option = {
                                    title: {
                                        text: '子公司积分排名',
                                    },
                                    tooltip: {},
                                    legend: {
                                        data: ['子公司']
                                    },
                                    xAxis: [
                                        {
                                            data: name
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value'
                                        }
                                    ],
                                    barWidth: 35,
                                    series: [
                                        {
                                            name: '',
                                            type: 'bar',
                                            data: num,
                                            markPoint: {
                                                data: [
                                                    //{ type: 'max', name: '最大值' },
                                                    //{ type: 'min', name: '最小值' }
                                                ]
                                            },
                                            itemStyle: {
                                                normal: {
                                                    //定义一个list，然后根据所以取得不同的值，这样就实现了，
                                                    color: function (params) {
                                                        // build a color map as your need.
                                                        var colorList = [
                                                            '#BBFFBB', '#BBFFBB', '#FFFF37',
                                                            '#FFFF37', '#FFFF37', '#FFFF37',
                                                            '#FFFF37', '#FFFF37', '#FFFF37',
                                                            '#FFFF37', '#FF0000', '#FF0000'
                                                        ];
                                                        return colorList[params.dataIndex]
                                                    },
                                                    //以下为是否显示，显示位置和显示格式的设置
                                                    label: {
                                                        show: true,
                                                        position: 'top',
                                                        //                             formatter: '{c}'
                                                        formatter: '{b}\n{c}'
                                                    }
                                                }
                                            },
                                        },
                                    ]
                                };
                                //使用刚指定的配置项和数据显示图表
                                myChart.setOption(option);
                            }
                        })
                    })
                </script>
            </div>
       
       
    </div>
</div>
    
<div class="panel panel-primary" style="height:320px">
    <div class="panel-heading">积分明细</div>
    <br />

    <div id="mainresponsibility" style="float:left">

        <div style="margin-left: 120px">
            <div style="float: left">
                <table class="table table-bordered" style="width: 350px">
                    <thead style="text-align: center;">
                    <tr>
                        <td rowspan="2" style="padding-top: 10px">部门名称</td>
                        <td colspan="4">SSS</td>
                    </tr>
                    <tr>
                        <td>绿灯</td>
                        <td>黄灯</td>
                        <td>红灯</td>
                        <td>积分</td>
                    </tr>
                    </thead>
                    <tbody id="tb1" style="text-align: center;"></tbody>
                </table>
            </div>
            <div style="float: left">
                <table class="table table-bordered" style="width: 350px">
                    <thead style="text-align: center;">
                    <tr>
                        <td colspan="4">SS</td>
                    </tr>
                    <tr>
                        <td>绿灯</td>
                        <td>黄灯</td>
                        <td>红灯</td>
                        <td>积分</td>
                    </tr>
                    </thead>
                    <tbody id="tb2" style="text-align: center;"></tbody>
                </table>
            </div>
            <div style="float: left">
                <table class="table table-bordered" style="width: 350px">
                    <thead style="text-align: center;">
                    <tr>
                        <td colspan="4">S</td>
                    </tr>
                    <tr>
                        <td>绿灯</td>
                        <td>黄灯</td>
                        <td>红灯</td>
                        <td>积分</td>
                    </tr>
                    </thead>
                    <tbody id="tb3" style="text-align: center;"></tbody>
                </table>
            </div>

        </div>

    </div>
</div>

</body>
</html>
<script>
    //文档就绪函数
    $(function () {
        gettrafficlightssslist();
        gettrafficlightsslist();
        gettrafficlightslist();
    });

    //第一个子公司红绿灯
    function gettrafficlightssslist() {
        $.ajax({
            url: "http://localhost:8888/api/CompanyIntegral/GetTrafficLightSSSList",
            type: "get",
            dataType: "json",
            success: function (data) {
                $("#tb").empty();
                $(data).each(function () {
                    var num = this.redLight * 0 + this.yellowLight * 3 + this.greenLight * 5;
                    var tr = "<tr>" +
                        "<td>" + this.role_Name + "</td>" +
                        "<td>" + this.redLight + "</td>" +
                        "<td>" + this.yellowLight + "</td>" +
                        "<td>" + this.greenLight + "</td>" +
                        "<td>" + num + "</td>"
                        + "</tr>";
                    $("#tb1").append(tr);
                });
            }
        })
    }

    //第二个子公司红绿灯
    function gettrafficlightsslist() {
        $.ajax({
            url: "http://localhost:8888/api/CompanyIntegral/GetTrafficLightSSList",
            type: "get",
            dataType: "json",
            success: function (data) {
                $("#tb").empty();
                $(data).each(function () {
                    var num = this.redLight * 0 + this.yellowLight * 3 + this.greenLight * 5;
                    var tr = "<tr>" +
                        "<td>" + this.redLight + "</td>" +
                        "<td>" + this.yellowLight + "</td>" +
                        "<td>" + this.greenLight + "</td>" +
                        "<td>" + num + "</td>"
                        + "</tr>";
                    $("#tb2").append(tr);
                });
            }
        })
    }

    //第三个子公司红绿灯
    function gettrafficlightslist() {
        $.ajax({
            url: "http://localhost:8888/api/CompanyIntegral/GetTrafficLightSList",
            type: "get",
            dataType: "json",
            success: function (data) {
                $("#tb").empty();
                $(data).each(function () {
                    var num = this.redLight * 0 + this.yellowLight * 3 + this.greenLight * 5;
                    var tr = "<tr>" +
                        "<td>" + this.redLight + "</td>" +
                        "<td>" + this.yellowLight + "</td>" +
                        "<td>" + this.greenLight + "</td>" +
                        "<td>" + num + "</td>"
                        + "</tr>";
                    $("#tb3").append(tr);
                });
            }
        })
    }
</script>
