
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <link href="~/HH/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
        <div id='main' style='width: 1000px; height: 400px;'></div>
        <!--引入echarts.js-->
        <script src="~/echars/echarts.js"></script>
        <script>


            $(function () {
                $.ajax({
                    url: "/CompanyIntegral/Indexecharts",
                    type: "get",
                    success: function (data) {
                        console.log(data);

                        var name = data.nameList;
                        var num = data.numList;


                        //基于准备好的DOM，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));
                        var option = {
                            title: {
                                text: '公司积分排名',
                            },
                            tooltip: {},
                            legend: {
                                data: ['子公司']
                            },
                            xAxis: [
                                {
                                    data: name
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            barWidth: 35,
                            series: [
                                {
                                    name: '',
                                    type: 'bar',
                                    data: num,
                                    markPoint: {
                                        data: [
                                            //{ type: 'max', name: '最大值' },
                                            //{ type: 'min', name: '最小值' }
                                        ]
                                    },
                                    itemStyle: {
                                        normal: {
                                            //定义一个list，然后根据所以取得不同的值，这样就实现了，
                                            color: function (params) {
                                                // build a color map as your need.
                                                var colorList = [
                                                    '#BBFFBB', '#BBFFBB', '#FFFF37',
                                                    '#FFFF37', '#FFFF37', '#FFFF37',
                                                    '#FFFF37', '#FFFF37', '#FFFF37',
                                                    '#FFFF37', '#FF0000', '#FF0000'
                                                ];
                                                return colorList[params.dataIndex]
                                            },
                                            //以下为是否显示，显示位置和显示格式的设置
                                            label: {
                                                show: true,
                                                position: 'top',
                                                //                             formatter: '{c}'
                                                formatter: '{b}\n{c}'
                                            }
                                        }
                                    },
                                },
                            ]
                        };
                        //使用刚指定的配置项和数据显示图表
                        myChart.setOption(option);
                    }
                })
            })


        </script>
    </div>

</body>
</html>
