
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
    <style>
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            width: 800px;
            margin-left: 20px;
            margin-top: 15px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="goals" id="goals">
        <table>
            <thead>
                <tr>
                    <td>业务名称</td>
                    <td>频次</td>
                    <td>类型</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>完成状态</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in goallist">
                    <td>{{item.goalname}}</td>
                    <td>{{item.frequencyid}}</td>
                    <td>{{item.goaltypeid}}</td>
                    <td>{{item.indexLevelid}}</td>
                    <td>{{item.goalchargepeople}}</td>
                    <td>{{item.goalendtime}}</td>
                    <td>{{item.feedbackid}}</td>
                    <td>{{item.goalstateid}}</td>
                </tr>
            </tbody>
        </table>
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage" v-on:pagehandler="pagehandler">
        </zpagenav>
    </div>
</body>
</html>
<script>
    var data = new Vue({
        data: {
            goallist: [],
            page: 1,  //显示的是哪一页
            pageSize:3, //每一页显示的数据条数
            total: 100, //记录总数
            maxPage: 9  //最大页数
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function (page) {
                this.page = page;
                axios.get("http://localhost:51042/Api/Goal/GetGoalList", { params: { pageindex: page, pagesize: this.pageSize} }).then((response) => {
                    this.goallist = [];
                    this.total = response.GoalList.total;
                    this.maxPage = response.GoalList.maxPage;

                    for (var i = 0; i < response.GoalList.length; i++) {
                        this.goallist.push(response.GoalList[i]);
                    }
                });
            }
        }
    })
</script>
