
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
    <link href="~/HH/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #ccc;">
                    <td>业务名称</td>
                    <td>频次</td>
                    <td>类型</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>完成状态</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
        <input id="Button1" type="button" href="javascript:void(0)" onclick="first()" value="首页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button2" type="button" href="javascript:void(0)" onclick="prve()" value="上一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button3" type="button" href="javascript:void(0)" onclick="next()" value="下一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button4" type="button" href="javascript:void(0)" onclick="last()" value="尾页" class="btn btn-sm" style="" />
    </div>
    <div class="mainresponsibility" id="mainresponsibility">
        <table>
            <thead>
                <tr>
                    <td>业务名称</td>
                    <td>完成情况</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>当前进度</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in mainresponsibilitylist">
                    <td>{{item.GoalName}}</td>
                    <td>{{item.GoalStateName}}</td>
                    <td>{{item.IndexLevelGrade}}</td>
                    <td>{{item.GoalChargePeople}}</td>
                    <td>{{item.GoalEndTime}}</td>
                    <td>{{item.FeedbackNowEvolve}}</td>
                    <td>{{item.GoalStateName}}</td>
                </tr>
            </tbody>
        </table>
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage" v-on:pagehandler="pagehandler">
        </zpagenav>
    </div>
</body>
</html>
<script>

    var pageIndex = 1;
    var pageSize = 5;
    var total = 0;

    //文档就绪函数
    $(function () {
        getgoallist(pageIndex);
    });

    //待办事项显示
    function getgoallist(index) {
        $.ajax({
            url: "http://localhost:51042/Api/Goal/GetGoalList",
            type: "get",
            data: { pageIndex: index, pageSize: pageSize },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#tb").empty();
                $(data).each(function (index) {
                    var tr = "<tr>" +
                        "<td>" + this.goalList[index].goalName + "</td>" +
                        "<td>" + this.goalList[index].frequencyName + "</td>" +
                        "<td>" + this.goalList[index].goalTypeName + "</td>" +
                        "<td>" + this.goalList[index].indexLevelGrade + "</td>" +
                        "<td>" + this.goalList[index].goalChargePeople + "</td>" +
                        "<td>" + this.goalList[index].goalEndTime + "</td>" +
                        "<td>" + this.goalList[index].feedbackNowEvolve + "</td>" +
                        "<td>" + this.goalList[index].goalStateName + "</td>"
                        + "</tr>";
                    $("#tb").append(tr);
                })
                total = data.Total;
            }
        });
    }

    //首页
    function first() {
        pageIndex = 1;
        getgoallist(pageIndex);
    }

    //上页
    function prve() {
        pageIndex = pageIndex > 1 ? pageIndex - 1 : 1;
        getgoallist(pageIndex);
    }

    //下页
    function next() {
        var nums = Math.ceil(total / pageSize);
        pageIndex = pageIndex < nums ? pageIndex + 1 : pageIndex;
        getgoallist(pageIndex);
    }

    //尾页
    function last() {
        pageIndex = Math.ceil(total / pageSize);
        getgoallist(pageIndex);
    }

    var vue = new Vue({
        el: "#mainresponsibility",
        data: {
            mainresponsibilitylist: [],//定义数组
            page: 1,//显示的哪一页
            pageSize: 5,//每一页显示的数据条数
            total: 100,//记录总数
            maxPage: 9//最大页数
        },
        mounted() {//进入页面即加载
            this.pagehandler();
        },
        methods: {
            pagehandler: function (page) {
                this.page = page;//当前显示页面
                axios.get("http://localhost:51042/api/MainResponsibility/GetMainResponsibilityList", { params: { pageindex: page, pagesize: this.pageSize } }).then((response) => {
                    this.mainresponsibilitylist = [];
                    this.total = response.data.total;
                    this.maxPage = response.data.maxPage;
                    this.mainresponsibilitylist.push = response.data;

                });
            }
        }
    })

    

        //var option = {
        //    title: {
        //        text: '积分排名',
        //    },
        //    tooltip: {},
        //    legend: {
        //        data: ['子公司']
        //    },
        //    xAxis: [
        //        {
        //            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        //        }
        //    ],
        //    yAxis: [
        //        {
        //            type: 'value'
        //        }
        //    ],
        //    series: [
        //        {
        //            name: '子公司',
        //            type: 'bar',
        //            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
        //            markPoint: {
        //                data: [
        //                    { type: 'max', name: '最大值' },
        //                    { type: 'min', name: '最小值' }
        //                ]
        //            },

        //        },
        //    ]
        //};
    
    
</script>





