
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <link href="~/HH/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead>
        <tr style="background-color: #ccc;">
            <td>业务名称</td>
            <td>频次</td>
            <td>类型</td>
            <td>级别</td>
            <td>责任人</td>
            <td>完成时间</td>
            <td>状态</td>
        </tr>
        </thead>
        <tbody id="tb"></tbody>
    </table>
    <input id="Button1" type="button" href="javascript:void(0)" onclick="first()" value="首页" class="btn btn-sm" />
    <input id="Button2" type="button" href="javascript:void(0)" onclick="prve()" value="上一页" class="btn btn-sm" />
    <input id="Button3" type="button" href="javascript:void(0)" onclick="next()" value="下一页" class="btn btn-sm" />
    <input id="Button4" type="button" href="javascript:void(0)" onclick="last()" value="尾页" class="btn btn-sm" />
</div>
</body>
</html>
<script>

    var pageIndex = 1;
    var pageSize = 5;
    var total = 0;

    //文档就绪函数
    $(function () {
        getgoallist(pageIndex);
    });

    //待办事项显示
    function getgoallist(index) {
        $.ajax({
            url: "http://localhost:51042/Api/Goal/GetGoalList",
            type: "get",
            data: { pageIndex: index, pageSize: pageSize },
            dataType: "json",
            success: function (data) {
                $("#tb").empty();
                $("#tb").each(function() {
                    var tr = "<tr>" +
                        "<td>" + this.GoalName+"</td>" +
                        "<td>" + this.FrequencyId+"</td>" +
                        "<td>" + this.GoalTypeId+"</td>" +
                        "<td>" + this.IndexLevelId+"</td>" +
                        "<td>" + this.GoalChargePeople+"</td>" +
                        "<td>" + this.GoalEndTime+"</td>" +
                        "<td>" + this.GoalStateId+"</td>"
                        + "</tr>";
                    $("#tb").append(tr);
                })
                total = data.Total;
            }
        });
    }

    //首页
    function first() {
        pageIndex = 1;
        getgoallist(pageIndex);
    }

    //上页
    function prve() {
        pageIndex = pageIndex > 1 ? pageIndex - 1 : 1;
        getgoallist(pageIndex);
    }

    //下页
    function next() {
        var nums = Math.ceil(total / pageSize);
        pageIndex = pageIndex < nums ? pageIndex + 1 : pageIndex;
        getgoallist(pageIndex);
    }

    //尾页
    function last() {
        pageIndex = Math.ceil(total / pageSize);
        getgoallist(pageIndex);
    }
</script>
