
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
    <script src="~/js/DateTimeConvert.js"></script>
    <link href="~/js/zpageNav.css" rel="stylesheet" />
    <link href="~/HH/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #ccc;">
                    <td>业务名称</td>
                    <td>频次</td>
                    <td>类型</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>完成状态</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
        <input id="Button1" type="button" href="javascript:void(0)" onclick="first()" value="首页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button2" type="button" href="javascript:void(0)" onclick="prve()" value="上一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button3" type="button" href="javascript:void(0)" onclick="next()" value="下一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button4" type="button" href="javascript:void(0)" onclick="last()" value="尾页" class="btn btn-sm" style="" />
    </div>
    <div id="mainresponsibility">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>业务名称</td>
                    <td>完成情况</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>当前进度</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in mainresponsibilitylist">
                    <td>{{item.goalName}}</td>
                    <td>{{item.goalStateName}}</td>
                    <td>{{item.indexLevelGrade}}</td>
                    <td>{{item.goalChargePeople}}</td>
                    <td>{{item.goalEndTime}}</td>
                    <td>{{item.feedbackNowEvolve}}</td>
                    <td>{{item.goalStateName}}</td>
                </tr>
            </tbody>
        </table>
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage" v-on:pagehandler="pagehandler">
        </zpagenav>
    </div>
    <!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
    <div id='main' style='width:600px;height:400px;'></div>
    <!--引入echarts.js-->
    <script src="~/echars/echarts.js"></script>
<script>

   
    $(function() {
        $.ajax({
            url: "http://localhost:51042/api/Integral/GetIntegralList",
            type: "get",
            success: function (data) {

                var name = data.userName;
                var num = data.integralNum;

                //基于准备好的DOM，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                    title: {
                        text: '积分排名',
                    },
                    tooltip: {},
                    legend: {
                        data: ['人员']
                    },
                    xAxis: [
                        {
                            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '子公司',
                            type: 'bar',
                            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                            markPoint: {
                                data: [
                                    { type: 'max', name: '最大值' },
                                    { type: 'min', name: '最小值' }
                                ]
                            },

                        },
                    ]
                };
                //使用刚指定的配置项和数据显示图表
                myChart.setOption(option);
            }
        })
    })
    
    
</script>

</body>
</html>
<script>

    var pageIndex = 1;
    var pageSize = 5;
    var total = 0;

    //文档就绪函数
    $(function () {
        getgoallist(pageIndex);
    });

    //待办事项显示
    function getgoallist(index) {
        $.ajax({
            url: "http://localhost:51042/Api/Goal/GetGoalList",
            type: "get",
            data: { pageIndex: index, pageSize: pageSize },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#tb").empty();
                $(data).each(function (index) {
                    var time = dateFormat(this.goalList[index].goalEndTime);
                    var tr = "<tr>" +
                        "<td>" + this.goalList[index].goalName + "</td>" +
                        "<td>" + this.goalList[index].frequencyName + "</td>" +
                        "<td>" + this.goalList[index].goalTypeName + "</td>" +
                        "<td>" + this.goalList[index].indexLevelGrade + "</td>" +
                        "<td>" + this.goalList[index].goalChargePeople + "</td>" +
                        "<td>" + time + "</td>" +
                        "<td>" + this.goalList[index].feedbackNowEvolve + "</td>" +
                        "<td>" + this.goalList[index].goalStateName + "</td>"
                        + "</tr>";
                    $("#tb").append(tr);
                })
                total = data.Total;
            }
        });
    }

    //首页
    function first() {
        pageIndex = 1;
        getgoallist(pageIndex);
    }

    //上页
    function prve() {
        pageIndex = pageIndex > 1 ? pageIndex - 1 : 1;
        getgoallist(pageIndex);
    }

    //下页
    function next() {
        var nums = Math.ceil(total / pageSize);
        pageIndex = pageIndex < nums ? pageIndex + 1 : pageIndex;
        getgoallist(pageIndex);
    }

    //尾页
    function last() {
        pageIndex = Math.ceil(total / pageSize);
        getgoallist(pageIndex);
    }

    var vue = new Vue({
        el: "#mainresponsibility",
        data: {
            mainresponsibilitylist: [],//定义数组
            page: 1,//显示的哪一页
            pageSize: 5,//每一页显示的数据条数
            total: 100,//记录总数
            maxPage: 20//最大页数
        },
        mounted() {//进入页面即加载
            this.pagehandler();
        },
        methods: {
            pagehandler: function (page) {
                this.page = page;//当前显示页面
                axios.get("http://localhost:51042/api/MainResponsibility/GetMainResponsibilityList", { params: { pageindex: page, pagesize: this.pageSize } }).then((response) => {
                    this.mainresponsibilitylist = [];
                    this.total = response.data.total;
                    this.maxPage = response.data.maxPage;
                    for (var i = 0; i < response.data.mainResponsibilityList.length; i++) {
                        this.mainresponsibilitylist.push(response.data.mainResponsibilityList[i]);
                    }
                });
            }
        }
    })
    
</script>





