@using X.PagedList.Mvc.Core;
@model X.PagedList.StaticPagedList<WeekData>

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>周报查询</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/vue.js"></script>             @*vue*@
    <script src="~/js/axios.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>   @*layui模态框*@
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/js/zpageNav.js"></script>        @*分页js*@
    <link href="~/js/zpageNav.css" rel="stylesheet" />   @*分页样式*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
</head>
<body>
    <div style="padding:20px">
            <div class="panel-heading">周报查询</div>
            <table class="table table-bordered table-striped text-center">
                <tr style="text-align:center">
                    <td>目标名称:</td>
                    <td>
                        <input id="txtGoalName" type="text" class="layui-input" name="goalName" />
                    </td>
                    <td>目标类型:</td>
                    <td>
                        <select class="form-control" name="typeId" id="goaltype">
                            <option value="value">请选择</option>
                        </select>
                    </td>
                    <td>目标级别:</td>
                    <td>
                        <select class="form-control" name="leaveId" id="goalleave">
                            <option value="value">请选择</option>
                        </select>
                    </td>
                    <td>目标状态:</td>
                    <td>
                        <select class="form-control" name="stateId" id="goalstate">
                            <option value="value">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>责任部门:</td>
                    <td>
                        <input id="txtDutyDepartment" type="text" class="layui-input" name="dutyCommanyName" />
                    </td>
                    <td>责任人:</td>
                    <td>
                        <input id="txtDutyUser" type="text" class="layui-input" name="dutyUserName" />
                    </td>
                    <td>开始日期:</td>
                    <td>
                        <input class="layui-input" name="begintime" type="text" id="txtBegintime">
                    </td>
                    <td>结束日期:</td>
                    <td>
                        <input class="layui-input" name="endtime" type="text" id="txtEndtime">
                    </td>
                </tr>
            </table>
            <div style="float:right">
                <form action="/WeekSearch/Export" method="post">
                    <input id="Button1" type="submit" value="导出" class="btn btn-primary btn-lg" />
                    <input id="Button1" type="button" value="查询" class="btn btn-primary btn-lg" onclick="search()" />
                </form>
            </div>
    </div>
    <div style="padding:20px">
        <div class="panel-heading">周报列表</div>
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>目标名称</td>
                    <td>级别</td>
                    <td>类别</td>
                    <td>责任部门</td>
                    <td>责任人</td>
                    <td>年份</td>
                    <td>提报状态</td>
                    <td>提报日期</td>
                    <td>当周进展</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
        <div id="pageList">

        </div>
    </div>
</body>
</html>
<script>
    var pageindex = 1;
    var pagesize = 5;
    var goalName = "";
    var typeId = 0;
    var leaveId = 0;
    var stateId = 0;
    var dutyCommanyName = "";
    var dutyUserName = "";
    var begintime = "";
    var endtime = "";
    $(function () {
        getType();    //绑定类型
        getgoalIndex();  //目标等级
        getState();   //状态
        getdata();    //显示
    })

    //查询
    function search() {
        goalName = $("#txtGoalName").val();
        typeId = $("#goaltype").val();
        leaveId = $("#goalleave").val();
        stateId = $("#goalstate").val();
        dutyCommanyName = $("#txtDutyDepartment").val();
        dutyUserName = $("#txtDutyUser").val();
        begintime = $("#txtBegintime").val();
        endtime = $("#txtEndtime").val();
        getdata(pageindex, pagesize, goalName, typeId, leaveId, stateId, dutyCommanyName, dutyUserName, begintime, endtime);
    }

    //绑定目标类型
    function getType() {
        $.ajax({
            url: "/GoalManage/GetGoalParentTypeList",
            type: "get",
            success: function (data) {
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var str = "<option value='" + data[i].goalTypeId + "'>" + data[i].goalTypeName + "</option>";
                        $("#goaltype").append(str);
                    }
                }
            }
        })
    }

    //绑定目标等级
    function getgoalIndex() {
        $.ajax({
            url: "/GoalManage/GetIndexlevelList",
            type: "get",
            success: function (data) {
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var str = "<option value='" + data[i].indexLevelId + "'>" + data[i].indexLevelGrade + "</option>";
                        $("#goalleave").append(str);
                    }
                }
            }
        })
    }

    //绑定目标状态
    function getState() {
        $.ajax({
            url: "/WeekSearch/GetStateList",
            type: "get",
            success: function (data) {
                console.log(JSON.stringify(data))
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var str = "<option value='" + data[i].goalStateId + "'>" + data[i].goalStateName + "</option>";
                        $("#goalstate").append(str);
                    }
                }
            }
        })
    }

    //显示
    function getdata(pageindex, pagesize, goalName, typeId, leaveId, stateId, dutyCommanyName, dutyUserName, begintime, endtime) {
        $.ajax({
            url: "/WeekSearch/GetWeekData",
            type: "get",
            data: {
                pageindex: pageindex,
                pagesize: pagesize,
                goalName:goalName,
                typeId: typeId,
                leaveId: leaveId,
                stateId: stateId,
                dutyCommanyName: dutyCommanyName,
                dutyUserName: dutyUserName,
                begintime: begintime,
                endtime:endtime,
            },
            dataType:"json",
            success: function (data) {
                $("#tbody").empty();
                if (data.getData.length > 0) {
                    for (var i = 0; i < data.getData.length; i++) {
                        var str = "<tr>"
                            + "<td>" + data.getData[i].goal_Id + "</td>"
                            + "<td>" + data.getData[i].goal_Name + "</td>"
                            + "<td>" + data.getData[i].indexLevel_Grade + "</td>"
                            + "<td>" + data.getData[i].goalType_Name + "</td>"
                            + "<td>" + data.getData[i].role_Name + "</td>"
                            + "<td>" + data.getData[i].user_Name + "</td>"
                            + "<td>" + data.getData[i].goalYear + "</td>"
                            + "<td>已提报</td>"
                            + "<td>" + data.getData[i].goal_StartTime + "</td>"
                            + "<td>" + data.getData[i].feedback_DayEvolve + "</td>"
                            +"<td>"+data.getData[i].goalState_Id+"</td>"
                            + "</tr>"
                        $("#tbody").append(str);
                    }
                    $("#pageList").empty();
                    var totalPage = data.totalCount;
                    var par = pageindex <= 1 ? pageindex : pageindex - 1;  //上一页
                    var next = pageindex >= totalPage ? pageindex : pageindex + 1;  //下一页

                    var htmlpage = "";
                    htmlpage += "<a href='#' onclick='getdata(1," + pagesize + ")'>首页</a>";
                    htmlpage += "<a href='#' onclick='getdata(" + par + "," + pagesize + ")'>上一页</a>";
                    htmlpage += "<a href='#' onclick='getdata(" + next + "," + pagesize + ")'>下一页</a>";
                    htmlpage += "<a href='#' onclick='getdata(" + totalPage + "," + pagesize + ")'>末页</a>";
                    $("#pageList").append(htmlpage);
                }
            }
        })
    }
</script>
