
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/echars/echarts.js"></script>
</head>
<body>

    <div id="mainresponsibility" style="float:left">
        <div style="margin-left: 120px">
            <!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
            <div id='main' style='width: 1000px; height: 400px;'></div>
            <!--引入echarts.js-->
            <script src="~/echars/echarts.js"></script>
            <script>
                var red = [];
                var yellow = [];
                var green = [];
                $(function() {
                    $.ajax({
                        url: "http://localhost:8888/api/TrafficLightRanking/GetTrafficLightRankingList",
                        type: "get",
                        success: function (data) {
                            $(data).each(function () {
                                var rednums = parseFloat(this.redlightPercentage) * 100;
                                var yellows = parseFloat(this.yellowLightPercentage) * 100;  
                                var greens = parseFloat(this.greenLightPercentage) * 100; 
                                red.push(rednums);
                                yellow.push(yellows);
                                green.push(greens);
                            })
                            console.log(data);


                            //基于准备好的DOM，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main'));
                            option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['直接访问', '邮件营销', '联盟广告']
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },
                                calculable: true,
                                xAxis: [
                                    {
                                        type: 'value'
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'category',
                                        data: name
                                    }
                                ],
                                series: [
                                    {
                                        name: '红灯',
                                        type: 'bar',
                                        stack: '总量',
                                        itemStyle: { normal: { label: { show: true, position: 'insideRight' } } },
                                        data: red
                                    },
                                    {
                                        name: '黄灯',
                                        type: 'bar',
                                        stack: '总量',
                                        itemStyle: { normal: { label: { show: true, position: 'insideRight' } } },
                                        data: yellow
                                    },
                                    {
                                        name: '绿灯',
                                        type: 'bar',
                                        stack: '总量',
                                        itemStyle: {
                                            normal:
                                                { label: { show: true, position: 'insideRight' } }
                                        },
                                        data: green
                                    },
                                ]
                            };
                            //使用刚指定的配置项和数据显示图表
                            myChart.setOption(option);
                        }
                    })
                })
            </script>
        </div>
    </div>
</body>
</html>

