@using DongXu.Target.Web.Conn;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .demo {
            position: relative;
        }

            .demo i {
                position: absolute;
                bottom: 10px;
                right: 24px;
                top: auto;
                cursor: pointer;
            }
    </style>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/Progress/jquery.velocity.min.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/page/bootstrapPager.js"></script>
</head>
<body>

    <div class="container">
        <div class="row" style="padding: 20px 0">
            <h3> </h3>
            <h3> </h3>
            <h3> 进度查询页面</h3>
            <h3> </h3>
        </div>
        <div class="row">
            <!--前缀-->
            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">目标名称</span>
                    <input id="textgoalname" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">目标类别</span>
                    <select id="textgoaltype" class="form-control">
                        <option value="0">全部</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">目标级别</span>
                    <select id="textgoalleave" class="form-control">
                        <option value="0">全部</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">责任部门</span>
                    <input id="txtgoalrole" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">责任人</span>
                    <input id="txtgoaluser" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">完成时间</span>
                    @*<input class="form-control" type="text">*@
                    <input style="width:288px" class="form-control" type="text" id="config-demo">
                </div>
            </div>

            <div class="form-group  col-lg-3">
                <div style="padding-left:80px" class="col-sm-10 col-sm-offset-2">
                    <button onclick="select()" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
        <div>
        </div>
        <span>目标列表</span>
        <table style="text-align:center" class="table table-bordered">
            <thead>
                <tr>
                    <td text-alig="center">序号</td>
                    <td style="text-align:center">目标名称</td>
                    <td>级别</td>
                    <td>类别</td>
                    <td>责任部门</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                    <td>当前进度</td>
                </tr>
            </thead>
            <tbody id="container"></tbody>
        </table>
        <input id="Button1" type="button" href="javascript:void(0)" onclick="first()" value="首页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button2" type="button" href="javascript:void(0)" onclick="prve()" value="上一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button3" type="button" href="javascript:void(0)" onclick="next()" value="下一页" class="btn btn-sm" style="margin-right: 10px" />
        <input id="Button4" type="button" href="javascript:void(0)" onclick="last()" value="尾页" class="btn btn-sm" style="" />
    </div>

<script>   






</script>

</body>
</html>

<script>
    var pageIndex = 1;
    var pageSize = 10;
    var toalCount = 0;
    var goalname = "";
    var goaltype = 0;
    var goalleave = 0;
    var goalrole = "";
    var goaluser = "";
    var strTime = "";
    var endTimes = "";
    var startTime = '';
    var endTime = '';

    $(function () {
        loadSelect();
        loadtime();
        targetList();

    })

    function loadtime() {
        var beginTimeStore = '';
        var endTimeStore = '';
        $('#config-demo').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "linkedCalendars": false,
            "autoUpdateInput": false,
            "locale": {
                format: 'YYYY-MM-DD',
                separator: ' ~ ',
                applyLabel: "应用",
                cancelLabel: "取消",
                resetLabel: "重置",
            }
        }, function (start, end, label) {
            beginTimeStore = start;
            endTimeStore = end;
            startTime = this.startDate.format(this.locale.format);
            endTime = this.endDate.format(this.locale.format);
            console.log(this.startDate.format(this.locale.format));
            console.log(this.endDate.format(this.locale.format));
            if (!this.startDate) {
                this.element.val('');
            } else {
                this.element.val(this.startDate.format(this.locale.format) + this.locale.separator + this.endDate.format(this.locale.format));
            }
        });
    }

    function loadSelect() {

        ///加载目标类别
        $.ajax({
            url: "@APIConn.MyAPIConn"+"GoalManage/GetParentType",
            success: function (data) {
                $(data).each(function () {
                    $("#textgoaltype").append('<option value="' + this.goalTypeId + '">' + this.goalTypeName + '</option>')
                })
            }
        })
        //加载目标级别
        $.ajax({
            url:  "@APIConn.MyAPIConn"+"GoalManage/GetIndexlevelList",
            success: function (data) {
                $(data).each(function () {
                    $("#textgoalleave").append('<option value="' + this.indexLevelId + '">' + this.indexLevelGrade + '</option>')
                })
            }
        })
    }

    //加载操作
    function select() {

 

        goalname = $("#textgoalname").val();
        goaltype = $("#textgoaltype").val();
        goalleave = $("#textgoalleave").val();
        goalrole = $("#txtgoalrole").val();
        goaluser = $("#txtgoaluser").val();
        strTime = startTime;
        endTimes = endTime;

        $.ajax({
            url: "@APIConn.MyAPIConn" + "Target/GoalQueryList?pageIndex=" + pageIndex + "&pageSize=" + pageSize+"&goalname=" + goalname + "&goaltype=" + goaltype + "&goalleave=" + goalleave + "&goalrole=" + goalrole + "&goaluser=" + goaluser + "&strTime=" + strTime + "&endTime=" + endTimes,
            success: function (data) {
                console.log(data)
                $("#container").empty();
                var str = '';
                $(data.goalQueryList).each(function () {
                    str += '<tr>'
                        + '<td>1</td>'
                        + '<td>' + this.goal_Name + '</td>'
                        + '<td>' + this.indexLevel_Grade + '</td>'
                        + '<td>' + this.goalType_Name + '</td>'
                        + '<td>' + this.role_Name + '</td>'
                        + '<td>' + this.user_Name + '</td>'
                        + '<td>' + new Date(this.goal_EndTime).Format("yyyy-MM-dd hh:mm:ss")  + '</td>'
                        + '<td style="text-align:center"><div style="height:15px;text-align:center;" class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:' + this.feedback_NowEvolve + '%">' + this.feedback_NowEvolve + '%</div></div></td></tr>'
                })
                $("#container").append(str);

            }
        })
    }

    //加载目标列表
    function targetList() {
        $.ajax({
            url: "@APIConn.MyAPIConn" + "Target/GoalQueryList?pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&goalname=" + goalname + "&goaltype=" + goaltype + "&goalleave=" + goalleave + "&goalrole=" + goalrole + "&goaluser=" + goaluser + "&strTime=" + strTime + "&endTime=" + endTimes,
            async: false,
            success: function (data) {
                $("#container").empty();
                toalCount = data.totalCount;
                console.log(data)
                var str = '';
                var i = 1;
                $(data.goalQueryList).each(function () {

                    str += '<tr>'
                        + '<td>' + i++ + '</td>'
                        + '<td>' + this.goal_Name + '</td>'
                        + '<td>' + this.indexLevel_Grade + '</td>'
                        + '<td>' + this.goalType_Name + '</td>'
                        + '<td>' + this.role_Name + '</td>'
                        + '<td>' + this.user_Name + '</td>'
                        + '<td>' + new Date(this.goal_EndTime).Format("yyyy-MM-dd hh:mm:ss") + '</td>'
                        + '<td style="text-align:center"><div style="height:15px;text-align:center;" class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:' + this.feedback_NowEvolve + '%">' + this.feedback_NowEvolve + '%</div></div></td></tr>'
                })
                $("#container").append(str);




            }
        })
    }

    //时间处理
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    //首页
    function first() {
        pageIndex = 1;
        targetList();
    }

    //上页
    function prve() {
        pageIndex = pageIndex > 1 ? pageIndex - 1 : 1;
        targetList();
    }

    //下页
    function next() {
        var nums = Math.ceil(toalCount / pageSize);
        pageIndex = pageIndex < nums ? pageIndex + 1 : pageIndex; 
        targetList();
    }

    //尾页
    function last() {
        pageIndex = Math.ceil(toalCount / pageSize);
        targetList();
    }
</script>